name: BlackyWolf.Data.Interfaces NuGet

on:
  push:
    branches: [ "principis" ]
    paths: [ ".NET/BlackyWolf.Data.Interfaces/**" ]
    tags: [ "BlackyWolf.Data.Interfaces-v*.*.*" ]
    
  pull_request:
    branches: [ "principis" ]
    paths: [ ".NET/BlackyWolf.Data.Interfaces/**" ]
    tags: [ "BlackyWolf.Data.Interfaces-v*.*.*" ]
  
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    
    - name: Setup .NET
      uses: actions/setup-dotnet@v2
      with:
        dotnet-version: 6.0.x
        
    - name: Restore dependencies
      run: dotnet restore ./.NET/BlackyWolf.Data.Interfaces/BlackyWolf.Data.Interfaces/BlackyWolf.Data.Interfaces.csproj
      
    - name: Build
      run: dotnet build ./.NET/BlackyWolf.Data.Interfaces/BlackyWolf.Data.Interfaces/BlackyWolf.Data.Interfaces.csproj --no-restore
      
    - name: Test
      run: dotnet test ./.NET/BlackyWolf.Data.Interfaces/BlackyWolf.Data.Interfaces.Tests/BlackyWolf.Data.Interfaces.Tests.csproj --no-build --verbosity normal
      
    - name: NuGet push
      run: dotnet nuget push -s "./.NET/BlackyWolf.Data.Interfaces/BlackyWolf.Data.Interfaces/**/*.nupkg" -k $NUGET_AUTH_TOKEN -s https://api.nuget.org/v3/index.json
      env:
        NUGET_AUTH_TOKEN: ${{ secrets.NUGET_AUTH_TOKEN }}
